extends layout

block content

  .login
      form.loginForm(action="")
        .form-group
          input#Username.form-control(type="text",placeholder="Username",required)
          br
          input#Channel.form-control(type="text",placeholder="Channel",required)
          br  
          input(type="submit" class="btn btn-primary")
  .msgs          
    ul.messages
    
  .chat
    form#input(action="")
      .form-group
        input.form-control#m(type="text",autocomplete="off",placeholder="type")
        input#s(type="submit" class="btn btn-primary")
